*{

  display: content;
  flex-direction: row;
  min-height: 100%;
}

#header {
  display: inline-block;
  flex-direction: row;
  background-color: #cdd6cb;
  height: 30%;
  width: 100%;
}
.header-content{
  display: flex;
  flex-direction: row;
  Align-items: center;
  padding: 10px 20px 30px ;
  display: flexbox;
}
